*\debug
*\debug\*
*\__pycache__
*\__pycache__\*
*.h5
*.exe
*\build
*\.vs
*\.vs\*
*\.idea
*\.idea\*
*.zip
*.dat
*.csv
*.png
*.html
*.user
*.vcxproj
*.obj
*.sln
*.pdb
*.idb
*.pdb
*.filters
*.tlog
*.ilk
*.recipe
*.log
*.txt
*.jpg
*.bmp
